@import 'variables';

.search-box {
    display: flex;
    :first-child {
        .form-control {
            width: 100% !important;
            border-top-left-radius: 0.25rem !important;
            border-bottom-left-radius: 0.25rem !important;
        }
    }
    :last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .form-group {
        .form-control {
            position: relative;
            width: 8rem;
            padding-left: 32px;
            border-radius: 0;
        }
        i.far,
        i.fa {
            position: absolute;
            z-index: 100;
            color: $bs-border-color;
            padding: 10px;
        }
    }
}
